<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap Login Form</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" name="signInForm" action="/auth/signIn" method="post">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Username" id="username" name="username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password" id="password" name="password">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit">Sign In !</button>
             <span class="lead"><a href="#">Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true" id="signInCancelBtn">Cancel</button>
            <button class="btn btn-warning" data-toggel="modal" data-target="#myModal" id="signUp">
Sign Up</button>
		  </div>	
      </div>
  </div>
  </div>
</div>
<div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title lead text-center" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form action="/auth/signUp" method="post" name="signUpForm">
            <div class="form-group">
                <input type="text" class="form-control" id="usernameSignUp" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="passwordSignUp" name="password" placeholder="Password">
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" id="signUpCancelBtn">Cancel</button>
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-lock"></span> Sign Up !</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $('#signUp').click(function () {
                    $('#myModal').modal('show');
                    $('#loginModal').modal('hide');
                });
                $('#signInCancelBtn').click(function () {
                    $('#username').val('');
                    $('#password').val('');
                });
                $('#signUpCancelBtn').click(function () {
                    $('#usernameSignUp').val('');
                    $('#passwordSignUp').val('');
                });
            })
        </script>
	</body>
</html>